#attendForm
  min-height: rem(300px)

.attendform
  .submit-button
    margin-top: rem(50px)

  .verify-status--text
    &.pending
      color: $invalid-color

    &.error
      color: $fail-color

  .attendform__member-table
    margin-bottom: rem(25px)
    .col--name
      width: 20%
    .col--class
      width: 30%
    .col--college
      width: 40%
    .col--toolbar
      width: 10%
      text-align: right
