[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

PyYAML = "*"
"Jinja2" = "*"
motor = "*"
aioamqp = "*"
aiosmtplib = "*"
accept = "*"
pytz = "*"
colorlog = "*"
aioredis = "*"
misaka = "*"
aiohttp = "*"
sockjs = "*"
GitPython = "*"
"geoip2" = "*"
hoedown = "*"
httpagentparser = "*"
"bs4" = "*"
Pillow = "*"
pycrypto = "*"
pyocr = "*"
reportlab = "*"


[dev-packages]

