{% macro render_time(time) %}
{{ datetime_span(time, false, '%Y-%m-%d %H:%M') }}
{% endmacro %}

{% macro render_important_campaign(view, title, cdoc) %}
<div class="section immersive--content section--campaign {{ view }}">
  <div class="media">
    <div class="media__body middle">
      <div class="section__body">
        <div><h2 class="status_title">{{ _(title) }}</h2></div>
        <h1>{{ cdoc['title'] }}</h1>
        <ul class="info">
          <li>
            <span class="icon icon-calendar"></span>
            {{ _('Start at') }}: {{ render_time(cdoc['begin_at']) }}
          </li>
          <li>
            <span class="icon icon-calendar"></span>
            {{ _('End at') }}: {{ render_time(cdoc['end_at']) }}
          </li>
        </ul>
      </div>
    </div>
    <div class="media__right middle">
      <div class="section__body">
        <a href="{{ reverse_url('campaign_detail', cid=cdoc['_id']) }}" class="detail-button">{{ _('View Details') }}</a>
      </div>
    </div>
  </div>

</div>
{% endmacro %}