{% macro render_inline(
    udoc,
    dudoc={},
    avatar=true,
    badge=true,
    modbadge=true
) %}
<span class="user-profile-link inlined v-center">
  {% if avatar %}
    <img class="v-center small user-profile-avatar" src="{{ udoc['gravatar'] }}" width="20" height="20">
  {% endif %}
    <a class="v-center user-profile-name" href="{{ reverse_url('user_detail', uid=udoc['_id']) }}">
      {{ udoc['_id'] }}
    </a>
  {% if badge and modbadge and handler.udoc_pas_perm(udoc, anubis.builtin.PERM_MOD_BADGE) %}
    <span class="v-center user-profile-badge badge--mod" title="Moderator">MOD</span>
  {% endif %}
</span>
{% endmacro %}