{% import "components/form.html" as form with context %}
{% import "components/sidemenu.html" as sidemenu with context %}
{% import "components/paginator.html" as paginator with context %}
{% import "components/nothing.html" as nothing with context %}
{% import "components/user.html" as user with context %}
<!DOCTYPE html>
<html data-page="{{ page_name }}" data-layout="{{ layout_name }}" style="overflow-y: scroll;"
      class="layout--{{ layout_name }} page--{{ page_name }} nojs" lang="{{ handler.view_lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="msapplication-TileColor" content="#336699">
  <meta name="theme-color" content="#336699">

  <link rel="stylesheet" media="all" href="{{ static_url('vendors.css') }}">
  <link rel="stylesheet" media="all" href="{{ static_url('anubis.css') }}">
  <title>{{ page_title }} - SUT Online Judge</title>
  <script>
    var _htmlNode = document.documentElement;
    _htmlNode.className = _htmlNode.className.replace(' nojs', ' hasjs');
    var UiContext = {{ handler.ui_context|json|safe }};
    var UserContext = {{ handler.user_context|json|safe }};
  </script>
</head>
<body>
  {% block body %}{% endblock %}
  <!-- TODO: includes jQuery, JSON3, ES5-shim in the shim -->
  <script src="{{ static_url('vendors.js') }}"></script>
  <script src="{{ static_url('locale/{0}.js'.format(handler.view_lang)) }}"></script>
  <script src="{{ static_url('anubis.js') }}"></script>
  {#  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82044764-2', 'auto');
  ga('send', 'pageview');

  </script>#}
</body>
</html>