$header-layer-height = 95px
$header-bg-width = 1920px
$header-bg-height = 265px
$header-bg-height-mini = $header-bg-height - $header-layer-height
$header-logo-width = 349px
$header-logo-height = 88px
