.page--campaign_teams
  .badge--newbie
    display: inline-block
    font-size: rem(12px)
    padding: rem(3px 4px)
    line-height: 1
    background-color: lightpink !important
    color: white !important

  .campaign-teams
    .col--checkbox
      width: 5%

    .col--id
      width: 10%
      text-align: right

    .col--name
      width: 35%
      border-left: 1px solid #EEE
      border-right: 1px solid #EEE

    .col--member
      text-align: center