.page--contest_status
  .back-gold
    border-left: rem(3px) solid gold
    background: linear-gradient(to right, rgba(255, 215, 0, 0.5), transparent)

  .back-silver
    border-left: rem(3px) solid silver
    background: linear-gradient(to right, rgba(192, 192, 192, 0.75), transparent)

  .back-bronze
    border-left: rem(3px) solid #cd7f32
    background: linear-gradient(to right, rgba(205, 127, 90, 0,5), transparent)