{% import "components/nothing.html" as nothing with context %}
{% import "components/user.html" as user with context %}
{% import "components/paginator.html" as paginator with context %}
{% if not ddocs %}
{{ nothing.render('no discussion yet...') }}
{% else %}
<ol class="section__list__ discussion__list">
{% for ddoc in ddocs %}
  <li class="section__list__item discussion__item{% if ddoc['highlight'] %} highlight{% endif %}">
    <div class="media">
      <div class="media__left">
        <div class="discussion__replies numbox">
          <div class="numbox__num large">{{ ddoc['num_replies'] }}</div>
          <div class="numbox__text">{{ _('Comments') }}</div>
        </div>
      </div>
      <div class="media__body top">
        <h1 class="discussion__title"><a href="{{ reverse_url('discussion_detail', did=ddoc['_id']) }}#{{ datetime_stamp(ddoc['update_at']) if ddoc['update_at'] else '' }}" data-emoji-enabled>{{ ddoc['title'] }}</a></h1>
        <ul class="supplementary list">
          {% if not tdoc %}
          <li>
            <a class="v-center discussion-node-tag" href="{{ anubis.handler.discussion.node_url(handler, 'discussion_node', anubis.model.discussion.node_id(ddoc)) }}">
              {% if ddoc['parent_type'] == 'discussion_node' %}
              <span class="icon icon-tag"></span>
              {% elif ddoc['parent_type'] == 'contest' %}
              <span class="icon icon-award"></span>
              {% else %}
              <span class="icon icon-flag"></span>
              {% endif %}
              {{ vndict[anubis.model.discussion.node_id(ddoc)]['title'] }}
            </a>
          </li>
          {% endif %}
          <li>
            {{ user.render_inline(udict[ddoc['owner_uid']], badge=false) }}
            @
            <span class="v-center">{{ datetime_span(ddoc['_id'].generation_time) }}</span>
          </li>
        </ul>
      </div>
    </div>
  </li>
{% endfor %}
</ol>
{% if page != undefined and dpcount != undefined %}
{{ paginator.render(page, dpcount) }}
{% endif %}
{% endif %}
