<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>SUTOJ System Error</title>
  <style type="text/css">
    body {
      background: #272822;
      padding-top: 100px;
    }
    pre{
      font-family: "monaco", "Consolas", "Source Code Pro", "Courier New", monospace;
    }
  </style>
</head>
<body>
<div class="code-content" style="text-align: center">
<pre style="max-width: 970px; font-size: 18px; line-height: 125%; display: inline-block; text-align: left; white-space: pre-wrap; word-wrap: break-word;">
<span style="color: #f8f8f2">Sorry, our system has encountered some issues now.</span>
<span style="color: #f8f8f2">Please <a style="color: #f8f8f2" href="javascript:window.location.reload()" title="Try again">wait patiently</a>, or <a style="color: #f8f8f2" href="mailto:acm@sut.edu.cn">contact us</a> impatiently with the error message below.</span>

<span style="color: #75715e">{{ error_message }}</span>
</pre></div>
</body>
</html>