{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__body">
        <form method="post">
          <div class="row">
            <div class="medium-8 columns">
              <label>
                {{ _('Title') }}
                <input name="title" placeholder="{{ _('title') }}" value="{{ pdoc['title']|default('') }}" class="textbox" autofocus>
              </label>
            </div>
            <div class="medium-4 columns">
              <label>
                {{ _('Settings') }}
                <br>
                <label class="checkbox">
                  <input type="checkbox" name="hidden" value="on"{% if pdoc['hidden'] %} checked{% endif %}>{{ _('Hidden') }}
                </label>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-4 columns">
              <label>
                {{ _('Time Limit') }} (s)
                <br>
                <input name="time_second" value="{{ (pdoc['time_ms']|default(1000) / 1000)|int }}" class="textbox">
              </label>
            </div>
            <div class="medium-4 columns">
              <label>
                {{ _('Memory Limit') }} (MiB)
                <br>
                <input name="memory_mb" value="{{ (pdoc['memory_kb']|default(65536) / 1024)|int  }}" class="textbox">
              </label>
            </div>
            {{ form.form_select(columns=4, label='Judge Mode', name='judge_mode', value=pdoc['judge_mode']|default(None), options=anubis.constant.record.MODE_TEXTS.items(), row=False) }}
          </div>
          <div class="row"><div class="columns">
            <label>
              {{ _('Content') }}
              <textarea name="content" class="textbox" data-markdown style="height: 500px">{% if pdoc %}{{ pdoc['content'] }}{% else %}{% include 'components/problem_default.md' %}{% endif %}</textarea>
            </label>
          </div></div>
          <div class="row"><div class="columns">
            <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
            {% if page_name == 'problem_edit' %}
            <input type="submit" class="rounded primary button" value="{{ _('Update') }}">
            {% else %}
            <input type="submit" class="rounded primary button" value="{{ _('Create') }}">
            {% endif %}
            <a class="rounded button" href="javascript:window.history.go(-1)">{{ _('Cancel') }}</a>
          </div></div>
        </form>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% if page_name == 'problem_edit' %}
      {% with owner_udoc=udoc %}
      {% include "partials/problem_sidebar.html" %}
      {% endwith %}
    {% else %}
    {% include 'components/md_hint.html' %}
    {% endif %}
  </div>
</div>
{% endblock %}
